/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Exo+2&subset=latin,latin-ext,cyrillic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Begin custom CSS*/


.main-hidden {
	display: none;
}

.main-shown {
	display: inline-block;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

body {
	padding-top: 50px;
	font-size: 16px;
	background: #87e0fd; /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#53cbf1 40%,#b5c9c9 100%) no-repeat 100%; /* IE10+ */
	background: -webkit-linear-gradient(bottom, #000000 0%, #53cbf1 40%, #b5c9c9 100%) no-repeat 100%; /* IE10+ */
	background: linear-gradient(to top,  #000000 0%,#53cbf1 40%,#b5c9c9 100%) no-repeat 100%; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#05abe0',GradientType=1 ) no-repeat 100%; /* IE6-9 */
	height: auto;
	text-align: center;
}

#content {
	min-height: 700px;
}

.starter-template img {
	height: 165px;
	display: inline;
}

html {
	min-height: 100%;
}

p,span,div,li,a,input,button {
	font: normal normal bold 1em/.9em 'Exo 2', helvetica, sans-serif;;
}

h1,h2 {
	font-family: LOBSTER, cursive;
}



.container {
	max-width: 1200px;
	margin: auto;
}

footer {
	position: relative;
	width: 100%;
	/*bottom: 10px;*/
	text-align: center;
}

	
footer p,footer a {
	margin: 21px auto;
	color: #f7f7f7;
}

/*Quiz Style*/

#content img {
	display: block;
	max-width:60%;
	margin: auto;
	border-radius: 100%;
	top: 30px;
	position: relative;
}

#quiz {
	position: relative;
	text-align: center;
	margin: 20px auto ;
	padding: 10px;
	max-width: 75%;

}

/*Hide questions as default (display when user selects start)*/
#questionSpace {
	padding: 1%;
	margin: 10px auto;
	text-align: center;
	display: inline-block;
	max-width: 75%;
	position: relative;
	top: 30px;
	min-height: 280px;

}

.quiz-nav {
	margin: 0 auto;
	display: block;
	position: relative;
	padding: 5px;
}
#quoteSpace, #quest_num {
	margin: 10px;
}

#quoteSpace {
	text-align: justify;
	font-size: .9em;
	line-height: 1.5em;
}
/* buttons */

.nav-btns {
	display: none;
	position: relative;
}


#start {
	position: relative;
	top: 35px;
}

/*choice styling*/


ul#choiceSpace {
	margin: 0px auto 20px;	
	width: 100px;
	
}
ul#choiceSpace li {
	/*display: none;*/
	margin: 3px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}


.choiceSpace-selected, ul#choiceSpace li:hover{

	color: #fff;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.choicespace-buttons {
	width: 105px;
}

/* Modal stylings */
.modal {
	overflow-y:auto;
}

.modal-dialog {
	top: 130px;
}

.fittedVid {
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
}

video {
	position: absolute;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
}