/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Begin custom CSS*/

body {
	padding-top: 50px;
	text-align: center;
	min-height: 800px;
}



.starter-template img {
	height: 165px;
	display: inline;
}

body {
	font-size: 16px;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #53cbf1 40%, #b5c9c9 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#53cbf1 40%,#b5c9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#53cbf1 40%,#b5c9c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#53cbf1 40%,#b5c9c9 100%); /* IE10+ */
	background: linear-gradient(to top,  #000000 0%,#53cbf1 40%,#b5c9c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
	
}

p,span,div,li,a,input,button {
	font-family: ARVO, serif;
}

h1,h2 {
	font-family: LOBSTER, cursive;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.container#content {
	margin: 20px auto;
	min-height: 800px;
}

footer {
	position: relative;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

	
footer p,footer a {
	margin: 21px auto;
	color: #f7f7f7;
}

/*Quiz Style*/

#questionSpace img {
	height: 15em;
	
}
#quiz {
	font: normal normal normal 1em/1.5 sans-serif;
	color: black;
	height: 250px;
	width: 700px;
	margin: 20px auto;
	text-align: center;
}

/*Hide questions as default (display when user selects start)*/
#questionSpace {
	margin: 20px;
	height: inherit;
	width: inherit;
	text-align: center;
}

#choiceSpace {
	margin: 10px;
	
}

/*choice styling*/
ul#choiceSpace {
	margin: 0px auto;	
	width: 100px;
	
}
ul#choiceSpace li:hover, ul#choiceSpace li {
	/*display: none;*/
	margin: 3px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

ul#choiceSpace li:hover, ul#choiceSpace li:focus {
	color: #fff;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;:;
};